/*Selector universal*/
*{
    
    padding: 0;
    margin: 0;
   
}

/*Selecto id*/
#contenedor{
    
    
    width: 1200px;
    height: 1000px;
    background-color: rgb(22, 50, 50);
    max-width: 2em auto;
    margin: 0 auto;
    align-items: center;
    align-content: center;
   
}
#Encabezado{
    height: 15%;
    background-color: rgb(24, 67, 67); 
    margin: 1em auto;
}

#menu{
    height: 5%;
    background-color:rgb(15, 39, 39) ;
    margin: 1em auto;
}

#contenido{
    height: 70%;
    width: 64%;
    background-color: rgb(38, 59, 59);
    margin: 1em auto;
    
    float: left;

}

#fueraSeccion{
    height: 70%;
    width: 36%;
    background-color: rgb(4, 39, 39);
    margin: 0.5em auto;
    float: right;
}


#pie{

    height: 50%;
    width: 61%;
    align-items: center;
    background-color: rgb(22, 46, 46);
    border-radius: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    margin:0em  auto ;
    color: white;
    text-align: center;
   
    
}



#menu{
    height: 5%;
    background-color: darkslategray;
    
}

/*Selector class*/
.encabezado{
    width: 1200px;
    height: 1000px;
    background-color: rgb(22, 50, 50);
    max-width:  auto;
    align-content: center;
}
.texto{
    text-align: justify;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}
.textoP{
    text-align: justify;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 1em;
}
.encabezadoArticulo{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1em;
}
.encabezadoFuera{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
}

.imagenes{
    display: black;
    border: 1px solid white;
    margin-left:auto;
    border-radius: 4px;
    padding: 5px;
    width: 250px;

    display: block;
margin-left: auto;
margin-right: auto;
    
}

.imagenes2{
    display: black;
    border: 1px solid white;
    margin-left:auto;
    border-radius: 4px;
    padding: 5px;
    width: 150px;

    display: block;
margin-left: auto;
margin-right: auto;
    
}

.encabezado{
    text-align: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
}



/* Selector de etiqueta*/

ul{
    text-align: center;

}
a{
    outline: none;
    text-decoration: none;
}
li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1em;
    outline: none;
    text-decoration: none;
}
